@page "/"

<nav class="py-3 navbar navbar-expand-lg fixed-top auto-hiding-navbar">
    <div class="container">
        <img src="https://github.com/Ares25061/Marketpalce2/blob/main/BlazorClient/wwwroot/images/%D0%B8%D0%B7%D0%BE%D0%B1%D1%80%D0%B0%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5_2024-11-18_133151923.png?raw=true"
             style="max-width:5%; max-height:5%">
        <a class="navbar-brand" href="#">Кислород</a>

        
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Каталог</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Акции</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Доставка</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Войти</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/registration">Зарегистрироваться</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section id="hero">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Добро пожаловать в "Кислород"!</h2>
                <h6>"Кислород" – это не просто маркетплейс, это место, где вы можете найти все, что вам нужно, с удобством и скоростью. <br /> Наши широкий ассортимент, выгодные акции и быстрая доставка помогут вам сделать покупки легкими и приятными. <br />Присоединяйтесь к нам и начните покупать с удовольствием!</h6>
                <button>Начать покупки!</button>
            </div>
            <div class="col">
                <img src="https://cdn.epicstream.com/images/ncavvykf/epicstream/900e1c0c9d83ac7cb41f7353a22c0ca9b9ebf231-1566x874.png?w=1566&h=874&auto=format" alt="ГДЕ ТЕНКАВА ИРОДЫ"
                     class="img-fluid" style="max-width: 110%; margin-right: 20px;">
            </div>
        </div>
    </div>
</section>