@page "/login"
@inject NavigationManager Navigation
@inject User User
@inject IJSRuntime JSRuntime
@using Models
@using System.Text.Json

<section class="bg-green">
    <div class="mask d-flex align-items-center gradient-custom-3 vh-100 main-content">
        <div class="container" style="width: 3000px">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <a href="/" class="btn btn-link text-decoration-none">
                    <i class="bi bi-arrow-left"></i> Вернуться на главную
                </a>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card border shadow p-3 mb-5 bg-white" style="border-radius: 15px;">
                        <div class="card-body">
                            <h2 class="text-center mb-1">Вход</h2>
                            <form>
                                <div class="form-group mb-3 text-start">
                                    <label for="email"><b>Email</b></label>
                                    <input type="email" class="form-control" id="email" placeholder="Введите Email" @bind="Email">
                                </div>
                                <div class="form-group mb-3 text-start">
                                    <label for="password"><b>Пароль</b></label>
                                    <input type="@(ShowPassword ? "text" : "password")" class="form-control" id="password" placeholder="Введите пароль" @bind="Password">
                                    <div class="form-check mt-2">
                                        <input type="checkbox" class="form-check-input" @bind="ShowPassword" id="showPassword">
                                        <label class="form-check-label" for="showPassword">Показать пароль</label>
                                    </div>
                                </div>
                                <div class="w-100 d-flex justify-content-center">
                                    <button type="button" class="btn btn-primary mt-auto btn-custom" @onclick="Authenticate" disabled="@IsButtonDisabled">Войти</button>
                                </div>
                                <p class="text-center text-muted mt-2 mb-0">
                                    Нет аккаунта? <a href="/registration" class="fw-bold text-body"><u>Регистрация</u></a>
                                </p>
                                <p class="text-center text-muted mt-2 mb-0">
                                    Забыли пароль? <a href="/forgot-password" class="fw-bold text-body"><u>Сбросить пароль</u></a>
                                </p>
                            </form>
                            @if (!string.IsNullOrEmpty(ErrorMessage))
                            {
                                <div class="alert alert-danger mt-3" role="alert">
                                    @ErrorMessage
                                    @if (ErrorMessage.Contains("подтвердить почту"))
                                    {
                                        <br />
                                        <a @onclick="ResendVerificationCode" href="/verify-email" class="text-danger">Нажмите, чтобы перейти к подтверждению почты</a>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@code {
    private string Email = null!;
    private string Password = null!;
    private bool ShowPassword { get; set; }
    private bool IsButtonDisabled = false;
    private string ErrorMessage = string.Empty;

    private async Task Authenticate()
    {
        IsButtonDisabled = true;
        ErrorMessage = string.Empty;

        try
        {
            if (string.IsNullOrEmpty(Email) || string.IsNullOrEmpty(Password))
            {
                ErrorMessage = "Пожалуйста, заполните все поля.";
                return;
            }

            HttpClient client = new HttpClient
                {
                    BaseAddress = new Uri("https://oxygenmarketapi.onrender.com/")
                };
            AuthenticateRequest authenticateRequest = new AuthenticateRequest
                {
                    Email = Email,
                    Password = Password
                };
            var request = new HttpRequestMessage(HttpMethod.Post, "Accounts/authenticate");

            request.Content = JsonContent.Create(authenticateRequest);

            request.SetBrowserRequestCredentials(BrowserRequestCredentials.Include);

            HttpResponseMessage response = await client.SendAsync(request);
            if (response.IsSuccessStatusCode)
            {
                AuthenticateResponse? authenticateResponse = await response.Content.ReadFromJsonAsync<AuthenticateResponse>();
                if (authenticateResponse is not null)
                {
                    User.UserId = authenticateResponse.UserId;
                    User.UserName = authenticateResponse.UserName;
                    User.FirstName = authenticateResponse.FirstName;
                    User.LastName = authenticateResponse.LastName;
                    User.Email = authenticateResponse.Email;
                    User.RoleId = authenticateResponse.RoleId;
                    User.Created = authenticateResponse.Created;
                    User.Updated = authenticateResponse.Updated ?? DateTime.Now;

                    if (!authenticateResponse.isVerified)
                    {
                        ErrorMessage = "Для входа необходимо подтвердить почту.";
                    }
                    else
                    {
                        
                     await JSRuntime.InvokeVoidAsync("localStorage.setItem", "JwtToken", authenticateResponse.JwtToken);
                     var userJson = JsonSerializer.Serialize(User);
                     await JSRuntime.InvokeVoidAsync("localStorage.setItem", "User", userJson);
                     Navigation.NavigateTo("/profile");
                    }
                }
            }
            else
            {
                ErrorMessage = "Неверный email или пароль.";
            }
        }
        finally
        {
            IsButtonDisabled = false;
        }
    }

    private async Task ResendVerificationCode()
    {
        try
        {
            HttpClient client = new HttpClient
                {
                    BaseAddress = new Uri("https://oxygenmarketapi.onrender.com")
                };
            
            var response = await client.PostAsJsonAsync<string>("Accounts/resend-verification-code", Email);

            if (response.IsSuccessStatusCode)
            {
            }
            else
            {
                ErrorMessage = "Не удалось отправить код подтверждения. Пожалуйста, попробуйте снова.";
            }
        }
        catch (Exception ex)
        {
            ErrorMessage = $"Произошла ошибка: {ex.Message}";
        }
    }
}

<style>
    .btn-custom {
        transition: background-color 0.3s ease, transform 0.3s ease;
    }

        .btn-custom:active {
            background-color: #4a3f7c !important;
            transform: scale(0.95);
        }
</style>